{% extends 'base.html.twig' %}

{% block title %}Inventory{% endblock %}

{% block body %}
    <h1>Inventory</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Lot</th>
                <th>Expiration_date</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.lot }}</td>
                <td>{{ product.expirationDate ? product.expirationDate|date('Y-m-d') : '' }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <a 
                        href="
                        {{ path('sale_new', { 
                            'productTypeId': product.id,
                            'productTypeName': product.name, 
                            'lot': product.lot, 
                            'expirationDate': product.expirationDate, 
                            'price': product.price, 
                            'quantity': product.quantity
                        }) }}"
                    >
                        Buy
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary float-rigth mt-3" href="{{ path('product_new') }}">Create new</a>
{% endblock %}
