{% extends 'base.html.twig' %}

{% block title %}Sales{% endblock %}

{% block body %}
    <h1>Sales</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>Cancelled</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.quantity }}</td>
                <td>{{ sale.cancelled ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('sale_cancelle', {'id': sale.id}) }}">{{ sale.cancelled ? 'Undo' : 'Cancel sale' }}</a>
                    <a href="{{ path('sale_invoice', {'id': sale.id}) }}">Invoice</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
