{% extends 'base.html.twig' %}
        {% block javascripts %}
            <script
                src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
                integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
                crossorigin="anonymous">
            </script>
            <script>
            { $(document).ready(function() { 
                $('#form_quantity').keyup(
                    () => {
                        $('#total').empty().append(
                            parseInt($('#price').text())*parseInt($('#form_quantity').val())
                        )
                        if($('#form_quantity').val() > parseInt($('#quantity').text())){
                            if(!$('#form_quantity').hasClass('is-invalid')) {
                                $('#form_Create').prop( "disabled", true );
                                $('#form_quantity').addClass('is-invalid')
                                    .after('<div class="invalid-feedback">Quantity exceeds inventory.</div>');
                            }
                        }else{
                            $('#form_Create').prop( "disabled", false );
                            $('#form_quantity').removeClass('is-invalid');
                            $('.invalid-feedback').remove();
                        }
                    }
                );
             });
             }
            </script>
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}

{% block title %}Buy{% endblock %}
{% set roles =  app.user.getroles() %}

{% block body %}{{ dump(roles) }}
    <h1>Buy </h1>
    <h4>Product: {{ app.request.get('productTypeName') }}</h4>
    <h4>Lot: {{ app.request.get('lot') }}</h4>
    <h4>Available quantity: <span id="quantity">{{ app.request.get('quantity') }}<span></h4>
    <h4>Unit Price : <span id="price">{{ app.request.get('price') }}<span></h4>
    <h4>Total Price : <span id="total">{{ form|json_encode() }}<span></h4>
    {{ include('sale/_form.html.twig') }}


{% endblock %}
